body { margin: initial; }

.header { padding: 25px;  }
.title { color: green;  }
.text-right { text-align: right;  }
.bg-black { background: black;  }
.txt-white { color: white;  }
img { width: initial; }

footer { background: black; color: white; padding: 20px;  }
.row { width: 100%; }
.col-md-6 { width: 48%; display: inline-block;  }
.col-md-3 { width: 32%; display: inline-block;  }
