
* {
    font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: "Bebas Neue";
    color: #B03648;
    letter-spacing: 0.15rem;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), local('BebasNeue-Regular'),
    url('../fonts/BebasNeue-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/BebasNeue-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

#mainSection {
    width: 80rem;
    margin: 0 auto;
}

ul#mainMenu {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul#cartMenu {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 0;
    padding: 0;
}
footer {
    height: 3rem;
    background-color: #B03648;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
    grid-gap: 0.2rem;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: block;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    width: 100%;
}

#mainMenu .grid-item {
    padding: 1rem;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item:hover > svg {
    stroke: #B03648;
}

.content-wrapper
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.title
{
    font-family: "Bebas Neue";
    font-size: xx-large;
    color: #B03648;
}

.top-menu
{
    box-shadow: 0 0 0.8rem 0 darkgray;
    z-index: 1;
}

svg {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: whitesmoke; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
}

#asideMenuCloseButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem;
}

.verticalGrid  {
    display: grid;
    grid-template-columns: auto;
}

.verticalGrid .grid-item
{
    justify-content: left;
}

#asideMenu li:hover {
    cursor: unset;
    background-color: unset;
}

#asideMenu a:hover {
    cursor: pointer;
    color: #B03648;
}

#asideMenu li#asideMenuCloseButton:hover {
    cursor: pointer;
}


